<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.CounterMapper">
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Counter">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="count" jdbcType="VARCHAR" property="count" />
    <result column="wid" jdbcType="VARCHAR" property="wid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, count, wid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_counter
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cm_counter
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.Counter">
    insert into cm_counter (id, name, count, 
      wid)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{count,jdbcType=VARCHAR}, 
      #{wid,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Counter">
    update cm_counter
    set name = #{name,jdbcType=VARCHAR},
      count = #{count,jdbcType=VARCHAR},
      wid = #{wid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>