<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.baizhi.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="farmington" jdbcType="VARCHAR" property="farmington" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="tid" jdbcType="VARCHAR" property="tid" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="createdate" jdbcType="DATE" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nickname, farmington, gender, description, phone, salt, pwd, photo, tid, pid, 
    cid, createdate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cm_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.User">
    insert into cm_user (id, nickname, farmington, 
      gender, description, phone, 
      salt, pwd, photo, tid, 
      pid, cid, createdate)
    values (#{id,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{farmington,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{tid,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{createdate,jdbcType=DATE})
  </insert>



  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.User">
    update cm_user
    set nickname = #{nickname,jdbcType=VARCHAR},
      farmington = #{farmington,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectCount" resultType="java.lang.Integer">
    select count(id) from cm_user where createdate between #{startDate} and #{endDate}
  </select>




</mapper>